/*@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Martel:wght@200&family=Poppins&family=Raleway:wght@100&family=Roboto&display=swap');

:root{
    --main-secondary-color: #b14747;
    --second-secondary-color: #692e2e;
    --secondary-gray: #636363;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
}

.imgHome {
    background-image: url('windowpic1.jpg');
    width: 100%;
    height: 800px;
    background-attachment: fixed;
}

.bannerMenu {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.bannerMenu .logo {
    width: 150px;
    height: 150px;
}

.bannerMenu button{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    height: 150px;
    margin-right: 70px;
    font-weight: bold;
    letter-spacing: 5px;
}

.bannerMenu button:hover{
    color: rgb(110, 110, 110)
}

.titleHome {
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    display: flex;
    height: 600;
    flex-direction: column-reverse;
    align-self: flex-end;
}

.titleHome h1 {
    font-size: 40px;
    letter-spacing: 8px;
}

.titleHome h3{
    font-size: 20px;
}

.section {
    margin-left: 15%;
    margin-right: 15%;
    font-size: large;
    margin-top: 4%;
    line-height: 200%;
}

.section h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 6px;
}

.firstSection {
    display: flex;
}

.firstSection img {
    width: 100%;
}

.column {
    padding: 1%;
}

.column h4 {
    letter-spacing: 5px;
    font-family: 'Lora', serif;
}

.firstColumn {
    max-width: 50%;
}

ul {
    list-style-type: circle;
}

.secondColumn {
    max-width: 50%;
    padding-left: 5%;
}

.beneficios {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionTitle {
    display: flex;
    justify-content: center;
}

.card img {
    width: 55%;
}

.card {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.card h3 {
    letter-spacing: 5px;
    font-size: 40px;
    font-family: 'Martel', serif;
}

.firstCard .text {
    margin-left: 4%;
}

.secondCard .text {
    margin-right: 4%;
}


.mensaje {
    width: 100%;
    height: 50px;
    margin: 1%;
    border: none;
    border-bottom: 1px solid #757575;
    height: 100px;
}

.send {
    border: 3px solid black;
    border-radius: 30px;
    width: 100%;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.send:hover {
    transition: all 0.5s ease;
    background-color: black;
    color: white;
}

.letrachiquita {
    font-size: 12px;
    color:var(--secondary-gray);
    line-height: 20px;
    padding: 10px;
}

.whatsapp img {
    width: 24px;
    margin-right: 15px;
}

.whatsapp {
    background-color: #414141;
    border: none;
    padding: 20px 30px 20px 20px;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

.column a {
    color: var(--main-secondary-color);
    text-decoration: none;
    letter-spacing: 1px;
}

.column a:hover {
    color: var(--second-secondary-color);
    text-decoration: none;
    letter-spacing: 1px;
}

.mapa {
    width: 100%;
}

.comentariosSection {
    width: 100%;
    background-image: url('windowpic1.jpg');
    opacity: 50%;
}

.comentariosSection h1 {
    padding: 30px;
    color: white;
    letter-spacing: 2px;
}

.comentariosContainer {
    display: flex;
    justify-content: center; 
}

.comentarios {
    background-color: rgba(107, 107, 107, 0.5);
    color: white;
    padding: 30px;
    width: 50%;
    display: flex;
    justify-content: center; 
    margin: 30px;
    margin-bottom: 100px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    padding: 50px;
    font-size: 12px;
}

/* https://codepen.io/joshadamous/pen/yyyqJZ : */

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { 
    outline: none; 
    background-color: #d8d8d8;
}

.mensaje:focus { 
    outline: none; 
    background-color: #d8d8d8;
}

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label {
	top: -28px;
    transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: var(--main-secondary-color);
}

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}